[user]
  name = Moudy
  email = moudy.elkammash@gmail.com
[alias]
  co = checkout
  br = branch
  st = status -sb
  unstage = reset HEAD --
[core]
  editor = vim
  whitespace = trailing-space
  excludesfile = ~/.gitignore
  pager = delta
  excludesfile = ~/.gitignore
[push]
	default = current
[color]
  ui = true
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Monokai Extended
  navigate = true

[interactive]
  diffFilter = delta --color-only
